//- SITE FOOTER
footer.site-footer.site-footer--sticky: .container
	.row
		.col-sm-4
			h5.footer-heading 关于我们
			p 一个创造奇迹和美好的实验室.每个周日我们都会讨论关于在线媒体编辑系统的相关事宜.
			ul.list-inline
				li: a(href='/about') 更多
				li: a(href='mengyu.dev@outlook.com') 联系我们

		.col-sm-8
			.row
				.col-xs-4
					h5.footer-heading 成员
					ul
						li: a(href='/members') 成员
						li: a(href='/mentoring') 答疑
						li: a(href='/members/mentors') 导师
						if !user
							li: a(href='/join').js-auth-trigger 加入我们
				.col-xs-4
					h5.footer-heading 资源
					ul
						li: a(href='/organisations') 组织
						li: a(href='/links') 链接
						li: a(href='/blog') 博客
						li: a(href='/showbag') Showbag
				.col-xs-4
					h5.footer-heading 赞助商
					ul: each sponsor in sponsors
						li: a(href='/organisations#' + sponsor.id)= sponsor.name
	.row.footer-copyright
		p Copyright &copy; 2015 SydJS. Powered by <a href='http://keystonejs.com', target='_blank'>KeystoneJS</a>.
		p If you run a meetup, please feel free to clone our site and make your own! You can <a href="https://github.com/JedWatson/sydjs-site", target='_blank'>find it on GitHub</a>.
