extends ../../layouts/default

include ../../mixins/organiser

block intro
	.page-intro: .container
		h1.page-title 关于我们
		p.lead 一个创造奇迹和美好的实验室.每个周日我们都会讨论关于在线媒体编辑系统的相关事宜.
		p.lead 神奇的网站由以下神奇的成员们创造

block content
	.page-content
		.section.highlight: .container
			//- h2 Organisers
			//- p.lead Each month the SydJS team works to bring you great presenters in a great venue.
			.row.about-organisers
				each org in organisers
					.col-sm-3
						+organiser(org)
			
		
		//- CODE
		.section: .container-sm
			h2 智能媒体计算实验室(IMC)
			h5 每天进步一点点。
			p 欢迎加入我们
			hr.mv-3

block js
	// twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
